<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${message}"
            fileName="logs/${var:PluginClassName}/Plugin_${var:PluginClassName}_${cached:${date:format=yyyyMMdd_HHmmss}:cached=true}.log"
            archiveFileName="$/archive/{#}.log"
            archiveDateFormat="yyyy-MM-dd HH_mm_ss"
            archiveNumbering="Date"
            archiveEvery="Month"
            maxArchiveFiles="9"
            keepFileOpen="True"
            concurrentWrites="False"/>

    <target name="logconsole" xsi:type="Console"
            layout="${longdate}|${level:uppercase=true}|${message}"/>

    <target name="SigmundNetworkLogFile" xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${message}"
            fileName="logs/SigmundLog_${cached:${date:format=yyyyMMdd_HHmmss}:cached=true}.log"
            archiveFileName="$/SigmundLog_archive/{#}.log"
            archiveDateFormat="yyyy-MM-dd HH_mm_ss"
            archiveNumbering="Date"
            archiveEvery="Month"
            maxArchiveFiles="9"
            keepFileOpen="True"
            concurrentWrites="False"/>

    <target name="DigitizerDebugToolBoxLogFile" xsi:type="File"
            layout="${longdate}|${level:uppercase=true}|${message}"
            fileName="logs/DigitizerDebugToolBoxLog_${cached:${date:format=yyyyMMdd_HHmmss}:cached=true}.log"
            archiveFileName="$/SigmundLog_archive/{#}.log"
            archiveDateFormat="yyyy-MM-dd HH_mm_ss"
            archiveNumbering="Date"
            archiveEvery="Month"
            maxArchiveFiles="9"
            keepFileOpen="True"
            concurrentWrites="False"/>

    <target name="NcpLogFileAppender" xsi:type="File"
            fileName="client.log"
            concurrentWrites="True"
            deleteOldFileOnStartup="true"/>

    <target name="MemoryLogger" xsi:type="Memory" layout="${message}"/>
  </targets>

  <rules>
    <!-- NCP Transport client logs from transport -->
    <logger name="TransportsCommon.DumpLogger" minlevel="Info" writeTo="NcpLogFileAppender" final="true"/>
	<!--Write only SigmundNetworkLog logs-->
    <logger name="SigmundNetworkLog" minlevel="Info" writeTo="SigmundNetworkLogFile" final="True" />
    <logger name="DigitizerDebugToolBoxLog" minlevel="Info" writeTo="DigitizerDebugToolBoxLogFile" />
    <!--Write all logs except SigmundNetworkLog -->
    <logger name="*" minlevel="Info" writeTo="logconsole,MemoryLogger" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>